td {
	overflow: hidden;
	border: 3px solid;
	border-color: #d2d2d2 #757575 #757575 #d2d2d2;
	cursor: pointer;
	text-align: center; 
	white-space: nowrap;
}

.unknown {
	background-color: #a0a0a0;
}

.mine {
	background-color: #c0c0c0;
	background-image: url("mine.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.safe {
	background-color: #c0c0c0;
}

.flagged {
	background-color: #a0a0a0;
	background-image: url("flag.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}