<!DOCTYPE html>
<html>
<head>
		<title>The Most Horrible Minesweeper Ever</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/minesweeper-api.js"></script>
		<script src="../../js/controller.js"></script>
	</head>

	<body ng-app="ngAppMinesweeper">
		<div class="container">
			<h1 class="display-4">The Most Horrible Minesweeper Ever</h1>
			<p class="lead">This is a simple version of the popular game known as "MineSweeper".</p>
			<hr class="my-4">
			<div ng-controller="ngAppMinesweeperController">
				<div class="row">
					<div class="col-md-4">Rows: <input type="number" ng-model="rows"/></div>
					<div class="col-md-4">Columns: <input type="number" ng-model="cols"/></div>
					<div class="col-md-4">Mines: <input type="number" ng-model="mines"/></div>
				</div>
				<div class="row" style="margin: 10px;">
					<div class="col-md-3">Status: {{status}}</div>
					<div class="col-md-6" style="text-align: center;"><button ng-click="newGame()" class="btn btn-info">New Game!</button></div>
					<div class="col-md-6"></div>
				</div>
				<div class="row">
					<table cellspacing="0" cellpadding="0" align="center">
						<tbody>
							<tr ng-repeat="row in game.squares">
								<td height="30px" width="30px" ng-repeat="col in row" ng-class="{unknown: col.type === 'UNKNOWN', mine: col.type === 'MINE', safe: col.type === 'SAFE'}" ng-click="squareClick(col.index)">
									<span ng-if="col.type === 'SAFE' && (col.neighborsWithMines > 0)">{{col.neighborsWithMines}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>

</html>
